@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: #160F13;
  --bg-tint: #2B292D;
  --text: #FAFAFA;
  --window: #36c1d4;
  --window-icons: #37a1bb;
  --cta: #c939c1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: var(--text)
}

body {
  background-color: var(--bg);
}

/* Landing */

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-fg,
.landing-filter {
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-fg {
  z-index: 50;
}

.landing-filter {
  background: linear-gradient(#0000 65%, var(--bg));
  z-index: 99;
}

.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.landing-content h1 {
  font: calc(100vw / 8) Inter, sans-serif;
  letter-spacing: calc(100vw / 30);
  text-shadow: 0 0 calc(1vw / 2) black;
  user-select: none;
}

/* Windows */
.windows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: fit-content;
}

.window-panel {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  padding: 5vw;
}

.window-panel:nth-child(2n - 1) {
  right: -20%;
  z-index: 10;
}

.window-panel:nth-child(2n) {
  top: 20%;
  left: -20%;
  z-index: 10;
}

.window-panel:nth-child(3n) {
  top: -15%;
  right: -10%;
  z-index: 20;
}

.window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: solid 2px var(--window);
  border-radius: 10px;
  box-shadow: 0 0 20px #0005;
  overflow: hidden;
}

.window > div:nth-of-type(1) {
  border-bottom: solid 2px var(--window);
}

.window-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--bg);
}

.window-top svg {
  fill: var(--window-icons);
  width: 40%;
}

.window-top a svg {
  fill: var(--window-icons);
  width: 50%;
  cursor: pointer;
}

.window-top > * {
  height: 100%;
}

.window-top .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.window-top .title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.window-top .buttons {
  display: flex;
  list-style-type: none;
}

.window-top .buttons li,
.window-top .buttons li a {
  display: flex;
  justify-content: center ;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  font-size: 40px;
}

.window-content {
  width: 100%;
  height: 100%;
  background-color: #cacaca;
}

.window-content * {
  color: var(--bg);
}
